header{
    height: 70px;
}
main{
    padding-top: 70px;
}


.ms_bg_blue {
    background-color: #3a546d;
}
.ms_bg {
    background-color: #4BB99E;
}
.ms_line_md{
    border: 1px solid;
    width: 130px;
    height: 1px;
}
.ms_plus{
    display: none;
    font-size: 10rem;
    color: white;
}
.plus_hover {
    position: relative;
}

.plus_hover img:hover{
    background-color: #4BB99E;
    opacity: 0.5;
    position: relative;
}

.plus_hover img:hover + .ms_plus{
    display: block;
    position: absolute;
    top: 2%;
    left: 35%;
    
}
.ms_btn {
    background-color:#1abc9c;
}
.ms_btn:hover{
    background-color: #4BB99E;
    border: #ccc;
}

.ms_form_control {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.ms_social {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    padding: 7px;
    margin: 5px;
}
.ms_bg_grey{
    background-color: #2c3e50;
}
.ms_gr_txt {
    color: #4BB99E;
}
/* WebKit browsers (Safari, Google Chrome, Opera 15+) */
::-webkit-input-placeholder { 
    color: #2c3e50;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder { 
   color:#2c3e50;
   opacity: 1;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder { 
   color: #2c3e50;
   opacity: 1;
}
/* Internet Explorer 10+ */
:-ms-input-placeholder { 
   color:#2c3e50;
}